.metadata/
.settings/
.classpath
.project
*.launch

.idea/
*.iml
*.iws
*.ipr
out/

.vscode/

.gradle/
build/
gradle-app.setting
gradle.log

bin/
output/
classes/

**/run/
**/libs/
**/log/
*.gz
*.log
*.tmp
*.lock

.DS_Store  # macOS
Thumbs.db  # Windows